<blockquote
  class="instagram-media"
  data-instgrm-captioned
  data-instgrm-permalink="https://www.instagram.com/p/C07I4EYJbq1"
  data-instgrm-version="14"
  style="
    background: #fff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    margin: 1px;
    max-width: 540px;
    min-width: 326px;
    padding: 0;
    width: 99.375%;
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
  "
>
  <div style="padding: 16px">
    <a
      href="https://www.instagram.com/p/C07I4EYJbq1"
      style="
        background: #ffffff;
        line-height: 0;
        padding: 0 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
      "
      target="_blank"
    >
      <img src="https://imgur.com/fzTsbgb.png" />
    </a>
    <p
      style="
        color: #c9c8cd;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
        margin-top: 8px;
        overflow: hidden;
        padding: 8px 0 7px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      "
    >
      <a
        href="https://www.instagram.com/p/C07I4EYJbq1"
        style="
          color: #c9c8cd;
          font-family: Arial, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: normal;
          line-height: 17px;
          text-decoration: none;
        "
        target="_blank"
      >
        Clique na imagem para acessar o post no Instagram
      </a>
    </p>
  </div>
</blockquote>
